@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.navbar {

  width: 100%;
  min-height: 85px;
  max-height: 100px;
  height: 12vh;

  display: flex;
  flex-direction: row;

  border-bottom: 1px solid rgb(200,200,200);


  .navbar-left {
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;

    .link {
      text-decoration: none;
    }
      
    h4 {
      color: rgb(150,150,150);

      &:hover {
        cursor: pointer;
      }

    }

    span {
      color: #225F91;
    }


    button {
      display: none;
    }

  }

  .navbar-right {
    width: 70%;
    height: 100%;

    .navbar-right-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;


      width: 40%;
      height: 100%;

      margin-left: 50%; //FIX SO THAT ITS NOT 50% WHEN PAGE IS TOO SMALL
      margin-right: 10%;

      .navLink {
        display: flex;
        justify-content: center;
        align-items: center;


        height: 100%;
        width: 33%;
        min-width: 100px;
        // border: 2px solid white;

        text-decoration: none;
        color: rgb(150,150,150);

        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 16px;

        transition: 0.3s ease;

        border-bottom: 0px solid white;

        a {
          text-decoration: none;
          color: rgb(54, 115, 165);
        }

        li {
          text-decoration: none;
          list-style: none;
        }

        .leftIcon {
          margin-right: 7px;
        }


        &:hover {
          border-bottom: 2px solid #225F91;
          transition: 0.3s ease;
          color: #225F91;
          cursor: pointer;
        }

      }

      .active {
        border-bottom: 2px solid #225F91;
        color: #225F91;
        transition: 0.3s ease;
      }

    }

  }

}



.main {

  display: flex;
  flex-direction: column;

  .banner {
    height: 70vh;

    background-image: url('./dogg.png');
    background-size: cover;

    .data {
      display: flex;
      flex-direction: row;

      .text {
        width: 50%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 240px;

        font-family: 'Roboto', sans-serif;

        h2 {
          font-weight: bold;
          font-size: 50px;
        }

      }


      .booking {
        width: 50%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          background-color: #225F91;
          padding: 15px 35px 15px 35px;
          border: none;
          border-radius: 5px;
          color: white;
          font-weight: bold;

          &:hover {
            cursor: pointer;
          }
        }

      }
    }
    
  }

  .trainers {
    height: 70vh;

    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 25px;

    h1 {
      font-family: 'Roboto', sans-serif;
    }

    .trainer_list {
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 85%;

      .trainer {
        border: 1px solid black;
        height: 50vh;
        width: 25vw;
        border-radius: 5px;

        display: flex;
        justify-content: center;
        align-items: center;
      }

    }

  }

  .about {
    height: 35vh;
    background: rgb(54, 115, 165);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px 50px 100px;

  }

  .services {
    height: 80vh;
    width: 100%;

    padding: 100px;

    display: flex;
    flex-direction: column;


    .services_list {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      margin-top: 15px;

      .service {
        height: 50vh;
        width: 40vh;
        margin-right: 3vw;

        .image {
          height: 50%;
          width: 100%;
          border: 1px solid blue;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        button {
          border: none;
          padding: 10px 20px 10px 20px;
          border-radius: 5px;
          background: rgb(200,200,200);
        }

        h3, p, button {
          margin-top: 10px;
        }

      }


    }

  }

  .gallery {
    display: flex;
    flex-direction: column;
    height: 80vh;
    padding: 50px 100px 50px 100px;

    .photos {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      
      .row {
        display: flex;
        flex-direction: row;
        height: 50%;
        justify-content: space-between;

        .photo {
          width: 280px;
          height: 220px;
          border: 1px solid black;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }


  }


}



@import url(https://fonts.bunny.net/css?family=darker-grotesque);

:root {
    --line-border-color: #225F91;
    --disabled-line-border: #d1d2d4;
    --button-active-color: #225F91;
    --text-color: #868991;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.progress-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    max-width: 100vw;
    position: relative;
    width: 20rem;
}

.progress-container::before {
    background-color: var(--disabled-line-border);
    content: "";
    height: 0.3rem;
    left: 0;
    position: absolute;
    top: 58%;
    transform: translateY(-50%);
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-color);
    height: 0.4rem;
    left: 0;
    position: absolute;
    top: 58%;
    transform: translateY(-50%);
    transition: 0.4s ease;
    width: 0%;
    z-index: -1;
}

.circle {
    align-items: center;
    background-color: #fff;
    border: 3px solid var(--disabled-line-border);
    border-radius: 50%;
    color: var(--text-color);
    display: flex;
    height: 2rem;
    justify-content: center;
    transition: 0.4s ease;
    width: 2rem;
}

.circle.active {
    border-color: var(--line-border-color);
}

.btn:disabled {
    background-color: var(--disabled-line-border);
    border-radius: 0.5rem;
    border: none;
    color: var(--text-color);
    cursor: not-allowed;
    font-size: 0.7rem;
    margin: 0 0.5rem;
    padding: 0.75rem 1.25rem;
}

.btn {
    background-color: var(--line-border-color);
    border-radius: 0.5rem;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.7rem;
    margin: 0 0.5rem;
    padding: 0.75rem 1.25rem;
    transition: background-color 0.5s, transform 0.5s;
}

.btn:active {
    transform: scale(0.9);
    background-color: var(--button-active-color);
}

.btn:focus {
    outline: none;
}


.footer {
  height: 50vh;
  background-color: rgb(54,115,165);
  width: 100%;

  .subscribe {
    height: 12vh;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0px 0px 0px 100px;

    h1, p {
      color: white;
      margin-right: 100px;
    }

    input {
      width: 300px;
      height: 35px;
      border: 1px solid white;
      border-radius: 4px;
      background-color: rgb(54, 115, 165);
      color: white;
      padding: 0px 0px 0px 15px;

      &::placeholder {
        color: white;
        opacity: 1;
      }
    }

    button {
      width: 150px;
      height: 35px;
      background-color: white;
      border: 1px solid white;
      border-radius: 4px;
      margin-left: 20px;

      &:hover {
        background-color: rgb(220,220,220);
        cursor: pointer;
        transition: 0.3s ease;
      }
    }

  }

  .companydetails {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 38vh;
    
    .leftinfo {
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        font-size: 35px;
        color: white;
      }
      p {
        color: white;
        margin-top: 25px;
      }

    }

    .contents {
      width: 70%;
      display: flex;
      flex-direction: row;
      height: 100%;

      .column {
        width: 30%;
        padding: 20px;

        h4 {
          font-size: 25px;
          color: white;
          padding: 0px 0px 10px 0px;
          border-bottom: 1px solid white;

        }

        p {
          font-size: 16px;
          margin: 15px 0px 15px 0px;
          font-weight: bold;

          &:hover {
            color: white;
            cursor: pointer;
            transition: 0.3s ease;
          }
        }


      }
    }

  }

}


