@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url(https://fonts.bunny.net/css?family=darker-grotesque);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(54, 115, 165);
}

.navbar {
  width: 100%;
  min-height: 85px;
  max-height: 100px;
  height: 12vh;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.navbar .navbar-left {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}
.navbar .navbar-left .link {
  text-decoration: none;
}
.navbar .navbar-left h4 {
  color: rgb(150, 150, 150);
}
.navbar .navbar-left h4:hover {
  cursor: pointer;
}
.navbar .navbar-left span {
  color: #225F91;
}
.navbar .navbar-left button {
  display: none;
}
.navbar .navbar-right {
  width: 70%;
  height: 100%;
}
.navbar .navbar-right .navbar-right-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  margin-left: 50%;
  margin-right: 10%;
}
.navbar .navbar-right .navbar-right-menu .navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33%;
  min-width: 100px;
  text-decoration: none;
  color: rgb(150, 150, 150);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s ease;
  border-bottom: 0px solid white;
}
.navbar .navbar-right .navbar-right-menu .navLink a {
  text-decoration: none;
  color: rgb(54, 115, 165);
}
.navbar .navbar-right .navbar-right-menu .navLink li {
  text-decoration: none;
  list-style: none;
}
.navbar .navbar-right .navbar-right-menu .navLink .leftIcon {
  margin-right: 7px;
}
.navbar .navbar-right .navbar-right-menu .navLink:hover {
  border-bottom: 2px solid #225F91;
  transition: 0.3s ease;
  color: #225F91;
  cursor: pointer;
}
.navbar .navbar-right .navbar-right-menu .active {
  border-bottom: 2px solid #225F91;
  color: #225F91;
  transition: 0.3s ease;
}

.main {
  display: flex;
  flex-direction: column;
}
.main .banner {
  height: 600px;
  background-image: url("./dogg.png");
  background-size: cover;
}
.main .banner .data {
  display: flex;
  flex-direction: row;
  height: 600px;
}
.main .banner .data .text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 240px;
  font-family: "Roboto", sans-serif;
}
.main .banner .data .text h2 {
  font-weight: bold;
  font-size: 50px;
}
.main .banner .data .booking {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .banner .data .booking button {
  background-color: #225F91;
  padding: 15px 35px 15px 35px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.main .banner .data .booking button:hover {
  cursor: pointer;
  background-color: rgb(64, 125, 165);
  transition: 0.3s ease;
}
.main .trainers {
  height: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.main .trainers h1 {
  font-family: "Roboto", sans-serif;
}
.main .trainers .trainer_list {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
}
.main .trainers .trainer_list .trainer {
  border: 3px solid rgb(54, 115, 165);
  height: 450px;
  width: 20vw;
  min-width: 300px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.main .trainers .trainer_list .trainer .trainerphoto {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgb(54, 115, 165);
}
.main .trainers .trainer_list .trainer .contents {
  height: 50%;
  padding: 20px;
}
.main .trainers .trainer_list .trainer .contents h3 {
  padding: 0px 0px 5px 0px;
}
.main .trainers .trainer_list .trainer .contents ul {
  padding: 0px 20px 0px 20px;
}
.main .trainers .trainer_list .trainer .contents ul li {
  padding: 10px 0px 0px 0px;
}
.main .about {
  height: 300px;
  overflow-x: auto;
  background: rgb(54, 115, 165);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 100px 50px 100px;
}
.main .services {
  height: 700px;
  width: 100%;
  padding: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.main .services .services_list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 15px;
}
.main .services .services_list .service {
  height: 450px;
  width: 40vw;
  margin-right: 3vw;
}
.main .services .services_list .service .image {
  height: 50%;
  width: 100%;
  border: 1px solid blue;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .services .services_list .service button {
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  background: rgb(200, 200, 200);
}
.main .services .services_list .service h3, .main .services .services_list .service p, .main .services .services_list .service button {
  margin-top: 10px;
}
.main .gallery {
  display: flex;
  flex-direction: column;
  height: 700px;
  padding: 50px 100px 50px 100px;
  background-color: white;
}
.main .gallery .photos {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.main .gallery .photos .row {
  display: flex;
  flex-direction: row;
  height: 50%;
  justify-content: space-between;
}
.main .gallery .photos .row .photo {
  width: 280px;
  height: 220px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --line-border-color: #225F91;
  --disabled-line-border: #d1d2d4;
  --button-active-color: #225F91;
  --text-color: #868991;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  max-width: 100vw;
  position: relative;
  width: 20rem;
}

.progress-container::before {
  background-color: var(--disabled-line-border);
  content: "";
  height: 0.3rem;
  left: 0;
  position: absolute;
  top: 58%;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-color);
  height: 0.4rem;
  left: 0;
  position: absolute;
  top: 58%;
  transform: translateY(-50%);
  transition: 0.4s ease;
  width: 0%;
  z-index: -1;
}

.circle {
  align-items: center;
  background-color: #fff;
  border: 3px solid var(--disabled-line-border);
  border-radius: 50%;
  color: var(--text-color);
  display: flex;
  height: 2rem;
  justify-content: center;
  transition: 0.4s ease;
  width: 2rem;
}

.circle.active {
  border-color: var(--line-border-color);
}

.btn:disabled {
  background-color: var(--disabled-line-border);
  border-radius: 0.5rem;
  border: none;
  color: var(--text-color);
  cursor: not-allowed;
  font-size: 0.7rem;
  margin: 0 0.5rem;
  padding: 0.75rem 1.25rem;
}

.btn {
  background-color: var(--line-border-color);
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.5rem;
  padding: 0.75rem 1.25rem;
  transition: background-color 0.5s, transform 0.5s;
}

.btn:active {
  transform: scale(0.9);
  background-color: var(--button-active-color);
}

.btn:focus {
  outline: none;
}

.footer {
  height: 500px;
  background-color: rgb(54, 115, 165);
  width: 100%;
}
.footer .subscribe {
  height: 12vh;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 150px 0px 150px;
}
.footer .subscribe h1, .footer .subscribe p {
  color: white;
  margin-right: 100px;
}
.footer .subscribe input {
  width: 300px;
  height: 35px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgb(54, 115, 165);
  color: white;
  padding: 0px 0px 0px 15px;
}
.footer .subscribe input::-moz-placeholder {
  color: white;
  opacity: 1;
}
.footer .subscribe input::placeholder {
  color: white;
  opacity: 1;
}
.footer .subscribe button {
  width: 150px;
  height: 35px;
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  margin-left: 20px;
}
.footer .subscribe button:hover {
  background-color: rgb(220, 220, 220);
  cursor: pointer;
  transition: 0.3s ease;
}
.footer .companydetails {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 38vh;
}
.footer .companydetails .leftinfo {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  padding-top: 20px;
}
.footer .companydetails .leftinfo h3 {
  font-size: 35px;
  color: white;
}
.footer .companydetails .leftinfo p {
  color: white;
  margin-top: 25px;
}
.footer .companydetails .contents {
  width: 70%;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.footer .companydetails .contents .column {
  width: 30%;
  padding: 20px;
}
.footer .companydetails .contents .column h4 {
  font-size: 25px;
  color: white;
  padding: 0px 0px 10px 0px;
  border-bottom: 1px solid white;
}
.footer .companydetails .contents .column p {
  font-size: 16px;
  margin: 15px 0px 15px 0px;
  font-weight: bold;
  color: white;
}
.footer .companydetails .contents .column p a {
  text-decoration: none;
  color: white;
}
.footer .companydetails .contents .column p a:hover {
  cursor: pointer;
  transition: 0.3s ease;
}
.footer .companydetails .contents .column textarea {
  width: 19vw;
  height: 15vh;
  background-color: rgb(34, 95, 145);
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
.footer .companydetails .contents .column button {
  width: 150px;
  height: 30px;
  background: white;
  color: black;
  border: none;
  border-radius: 5px;
}
.footer .companydetails .contents .column button:hover {
  cursor: pointer;
  background-color: rgb(220, 220, 220);
}/*# sourceMappingURL=style.css.map */