@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(54, 115, 165);
}

button:active {
  transform: scale(0.95);
  transition: 0.2s ease;
}

button:hover {
  cursor: pointer;
}

.navbar {

  width: 100%;
  min-height: 95px;
  max-height: 100px;
  height: 12vh;

  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;

  border-bottom: 1px solid rgb(200,200,200);


  .navbar-left {
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;

    .link {
      text-decoration: none;
    }
      
    h4 {
      color: rgb(150,150,150);

      &:hover {
        cursor: pointer;
      }

    }

    span {
      color: rgb(54, 115, 165);
    }


    button {
      display: none;
    }

  }


  .navbar-right {
    width: 50%;
    height: 100%;

    .navbar-right-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      height: 100%;

      // margin-left: 50%;
      // margin-right: 10%;

      .navLink {
        display: flex;
        justify-content: center;
        align-items: center;


        height: 100%;
        width: 20%;
        min-width: 100px;
        // border: 2px solid white;

        text-decoration: none;
        color: rgb(150,150,150);

        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 16px;

        transition: 0.3s ease;

        border-bottom: 0px solid white;

        a {
          text-decoration: none;
          color: rgb(54, 115, 165);
        }

        li {
          text-decoration: none;
          list-style: none;
        }

        .leftIcon {
          margin-right: 7px;
        }


        &:hover {
          border-bottom: 2px solid rgb(54, 115, 165);
          transition: 0.3s ease;
          color: rgb(54, 115, 165);
          cursor: pointer;
        }

      }

      .active {
        border-bottom: 2px solid rgb(54, 115, 165);
        color: rgb(54, 115, 165);
        transition: 0.3s ease;
      }

    }

  }

}



.main {

  display: flex;
  flex-direction: column;

  .banner {
    height: 600px;

    background-image: url('./dogg.png');
    background-size: cover;

    .data {
      display: flex;
      flex-direction: row;
      height: 600px;

      .text {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 240px;

        font-family: 'Roboto', sans-serif;

        h2 {
          font-weight: bold;
          font-size: 50px;
        }

      }


      .booking {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          background-color: rgb(54, 115, 165);
          padding: 15px 35px 15px 35px;
          border: none;
          border-radius: 5px;
          color: white;
          font-weight: bold;

          &:hover {
            cursor: pointer;
            background-color: rgb(64,125,165);
            transition: 0.3s ease;
          }
        }

      }
    }
    
  }

  .trainers {
    height: 600px;

    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 30px;

    h1 {
      font-family: 'Roboto', sans-serif;
    }

    .trainer_list {
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 0px 50px 0px 50px;

      .trainer {
        border: 3px solid rgb(54,115,165);
        height: 450px;
        width: 20vw;
        min-width: 300px;
        border-radius: 5px;

        display: flex;
        flex-direction: column;

        .trainerphoto {
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 2px solid rgb(54, 115, 165);
        }

        .contents {
          height: 50%;
          padding: 20px;

          h3 {
            padding: 0px 0px 5px 0px;
          }

          ul {
            padding: 0px 20px 0px 20px;

            li {
              padding: 10px 0px 0px 0px;
            }
          }


        }


      }

      .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
     
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100vh;
          height: 30px;
          width: 30px;
          color: white;
          background-color: rgb(54, 115, 165);

          &:hover {
            cursor: pointer;
            background: rgb(64,125,165);
            transition: 0.3s ease;
          }
        }

      }

    }

  }

  .about {
    height: 280px;
    font-size: 16px;
    overflow-x: auto;
    background: rgb(54, 115, 165);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px 50px 100px;
    color: white;

  }

  .services {
    height: 550px;
    width: 100%;

    padding: 0px 100px 0px 100px;

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .services_list {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      margin-top: 15px;

      .service {
        height: 400px;
        width: 40vw;
        margin-right: 3vw;

        .image {
          height: 50%;
          width: 100%;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        button {
          border: none;
          padding: 10px 20px 10px 20px;
          border-radius: 5px;
          background: rgb(200,200,200);
        }

        h3, p, button {
          margin-top: 10px;
        }

      }


    }

  }

  .otherinformation {
    height: 600px;
    background: rgb(54, 115, 165);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 100px 50px 100px;

    .category {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      h2, li {
        color: white;
        margin-bottom: 15px;
      }

      li {
        font-size: 18px;
      }

      h2 {
        padding-bottom: 10px;
        border-bottom: 1px solid white;
      }

      .map1 {
        width: 100%;
        height: 100%;
      }


    }




  }

  .gallery {
    display: flex;
    flex-direction: column;
    height: 700px;
    padding: 50px 100px 50px 100px;
    background-color: white;

    .photos {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      
      .row {
        display: flex;
        flex-direction: row;
        height: 50%;
        justify-content: space-between;

        .photo {
          width: 280px;
          height: 220px;
          border: 1px solid black;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }


  }

  .reviews {
    height: 300px;
    background-color: rgb(54, 115, 165);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;

    button {
      border: none;
      background-color: white;
      width: 100px;
      height: 30px;
      border-radius: 4px;
      margin-top: 20px;

      &:hover {
        cursor: pointer;
      }
    }

    h2 {
      color: white;
    }

    .review {
      min-width: 275px;
      display: flex;
      flex-direction: column;
      height: 80%;
      width: 25%;
      margin-left: 10px;
      margin-right: 10px;
      padding: 50px;

      .stars {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        color: white;
        font-size: 25px;

        i {
          margin-right: 10px;
        }

      }

      .message {
        color: white;
      }

    }

  }

  .prices {
    height: 600px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px;

    h2 {
      color: rgb(54, 115, 165);
      font-size: 30px;
    }

    .pricelist {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 40%;
      justify-content: space-between;
      margin-top: 20px;

      .pricecategory {
        width: 20%;
        min-width: 200px;
        margin: 0px 20px 0px 0px;
        padding: 10px;

        height: 100%;
        border: 3px solid rgb(200,200,200);
        border-radius: 8px;
      }

      h3 {
        border-bottom: 1px solid rgb(54, 115, 165);
        padding-bottom: 8px;
      }

      p {
        margin-top: 8px;
      }


    }

    .subscribe {
      background-color: rgb(54, 115, 165);
      width: 550px;
      height: 50px;
      margin-top: 25px;
      border-radius: 5px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
    }

    .insurance {
      width: 500px;
      height: 80px;
      margin-top: 15px;
      border: 3px solid rgb(200,200,200);
      border-radius: 4px;
      padding: 10px;
    }

  }

}



.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  padding: 0;
  margin: 0;
  
}


.progress-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    max-width: 100vw;
    position: relative;
    width: 20rem;
}

.progress {
    background-color: rgb(54, 115, 165);
    height: 0.4rem;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s ease;
    width: 0%;
    z-index: -1;
}

.circle {
    align-items: center;
    background-color: #fff;
    border: 3px solid #d1d2d4;
    border-radius: 50%;
    color: rgb(54, 115, 165);
    display: flex;
    height: 2rem;
    justify-content: center;
    transition: 0.4s ease;
    width: 2rem;
}

.circle.active {
    border-color: rgb(54, 115, 165);
}

.btn:disabled {
    background-color: #d1d2d4;
    border-radius: 0.5rem;
    border: none;
    color: white;
    cursor: not-allowed;
    font-size: 0.7rem;
    margin: 0 0.5rem;
    padding: 0.75rem 1.25rem;
}

.btn {
    background-color: rgb(54, 115, 165);
    border-radius: 0.5rem;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.7rem;
    margin: 0 0.5rem;
    padding: 0.75rem 1.25rem;
    transition: background-color 0.5s, transform 0.5s;
}

.btn:active {
    transform: scale(0.9);
    background-color: rgb(54, 115, 165);
}

.btn:focus {
    outline: none;
}

.btn:hover {
  background: rgb(84,145,195);
}


.footer {
  height: 500px;
  background-color: rgb(54,115,165);
  width: 100%;

  .messagesubscribe {
    height: 12vh;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 150px 0px 150px;

    h1, p {
      color: white;
      margin-right: 100px;
    }

    input {
      width: 250px;
      height: 35px;
      border: 1px solid white;
      border-radius: 4px;
      background-color: rgb(54, 115, 165);
      color: white;
      padding: 0px 0px 0px 15px;

      &::placeholder {
        color: white;
        opacity: 1;
      }
    }

    button {
      width: 150px;
      height: 35px;
      background-color: white;
      border: 1px solid white;
      border-radius: 4px;
      margin-left: 20px;

      &:hover {
        background-color: rgb(220,220,220);
        cursor: pointer;
        transition: 0.3s ease;
      }
    }

  }

  .companydetails {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 38vh;
    
    .leftinfo {
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 150px;
      padding-top: 20px;

      h3 {
        font-size: 35px;
        color: white;
      }
      p {
        color: white;
        margin-top: 25px;
      }

    }

    .contents {
      width: 70%;
      display: flex;
      flex-direction: row;
      height: 100%;

      .column {
        width: 30%;
        padding: 20px;

        h4 {
          font-size: 25px;
          color: white;
          padding: 0px 0px 10px 0px;
          border-bottom: 1px solid white;

        }

        p {
          font-size: 16px;
          margin: 15px 0px 15px 0px;
          font-weight: bold;
          color: white;

          a {
            text-decoration: none;
            color: white;
            &:hover {
              cursor: pointer;
              transition: 0.3s ease;
            }
          }

          
        }

        textarea {
          width: 19vw;
          height: 15vh;
          background-color: rgb(34, 95, 145);
          border: 1px solid white;
          border-radius: 5px;
          padding: 10px;
          color: white;
        }

        button {
          width: 150px;
          height: 30px;
          background: white;
          color: black;
          border: none;
          border-radius: 5px;

          &:hover {
            cursor: pointer;
            background-color: rgb(220,220,220);
          }
        }


      }
    }

  }

}


