@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {

  width: 100%;
  min-height: 85px;
  max-height: 100px;
  height: 12vh;

  display: flex;
  flex-direction: row;

  border-bottom: 1px solid rgb(200,200,200);


  .navbar-left {
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;

    .link {
      text-decoration: none;
    }
      
    h4 {
      color: rgb(150,150,150);

      &:hover {
        cursor: pointer;
      }

    }

    span {
      color: rgb(0,40,255);
    }


    button {
      display: none;
    }

  }

  .navbar-right {
    width: 70%;
    height: 100%;

    .navbar-right-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;


      width: 40%;
      height: 100%;

      margin-left: 50%; //FIX SO THAT ITS NOT 50% WHEN PAGE IS TOO SMALL
      margin-right: 10%;

      .navLink {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 25%;
        min-width: 100px;
        // border: 2px solid white;

        text-decoration: none;
        color: rgb(150,150,150);

        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 16px;

        transition: 0.3s ease;

        border-bottom: 0px solid white;

        .leftIcon {
          margin-right: 7px;
        }


        &:hover {
          border-bottom: 2px solid rgb(0,40,255);
          transition: 0.3s ease;
          color: rgb(0,40,255);
          cursor: pointer;
        }

      }

      .active {
        border-bottom: 2px solid rgb(0,40,255);
        color: rgb(0,40,255);
        transition: 0.3s ease;
      }

    }

  }

}
