@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.navbar {

  width: 100%;
  min-height: 85px;
  max-height: 100px;
  height: 12vh;

  display: flex;
  flex-direction: row;

  border-bottom: 1px solid rgb(200,200,200);


  .navbar-left {
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;

    .link {
      text-decoration: none;
    }
      
    h4 {
      color: rgb(150,150,150);

      &:hover {
        cursor: pointer;
      }

    }

    span {
      color: rgb(0,40,255);
    }


    button {
      display: none;
    }

  }

  .navbar-right {
    width: 70%;
    height: 100%;

    .navbar-right-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;


      width: 40%;
      height: 100%;

      margin-left: 50%; //FIX SO THAT ITS NOT 50% WHEN PAGE IS TOO SMALL
      margin-right: 10%;

      .navLink {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 33%;
        min-width: 100px;
        // border: 2px solid white;

        text-decoration: none;
        color: rgb(150,150,150);

        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 16px;

        transition: 0.3s ease;

        border-bottom: 0px solid white;

        .leftIcon {
          margin-right: 7px;
        }


        &:hover {
          border-bottom: 2px solid rgb(0,40,255);
          transition: 0.3s ease;
          color: rgb(0,40,255);
          cursor: pointer;
        }

      }

      .active {
        border-bottom: 2px solid rgb(0,40,255);
        color: rgb(0,40,255);
        transition: 0.3s ease;
      }

    }

  }

}



.main {

  display: flex;
  flex-direction: column;

  .banner {
    height: 70vh;

    background-image: url('./dogg.png');
    background-size: cover;

    .data {
      display: flex;
      flex-direction: row;

      .text {
        width: 50%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 240px;

        font-family: 'Roboto', sans-serif;

        h2 {
          font-weight: bold;
          font-size: 50px;
        }

      }


      .booking {
        width: 50%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          background-color: rgb(0,40,255);
          padding: 15px 35px 15px 35px;
          border: none;
          border-radius: 5px;
          color: white;
          font-weight: bold;

          &:hover {
            cursor: pointer;
          }
        }

      }
    }
    
  }

  .trainers {
    height: 70vh;

    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 25px;

    h1 {
      font-family: 'Roboto', sans-serif;
    }

    .trainer_list {
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 85%;

      .trainer {
        border: 1px solid black;
        height: 50vh;
        width: 25vw;
        border-radius: 5px;

        display: flex;
        justify-content: center;
        align-items: center;
      }

    }

  }

  .about {
    height: 35vh;
    background: rgb(193,213,229);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px 50px 100px;
  }

  .services {
    height: 80vh;
    width: 100%;

    padding: 100px;

    display: flex;
    flex-direction: column;


    .services_list {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      margin-top: 15px;

      .service {
        height: 50vh;
        width: 40vh;
        margin-right: 3vw;

        .image {
          height: 50%;
          width: 100%;
          border: 1px solid blue;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        button {
          border: none;
          padding: 10px 20px 10px 20px;
          border-radius: 5px;
          background: rgb(200,200,200);
        }

        h3, p, button {
          margin-top: 10px;
        }

      }


    }

  }

  .gallery {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 80vh;
    padding: 50px 100px 50px 100px;

    .photos {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      
      .row {
        display: flex;
        flex-direction: row;
        height: 50%;
        justify-content: space-between;

        .photo {
          width: 280px;
          height: 220px;
          border: 1px solid black;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }


  }


}
