* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.informationHeader {
  font-size: 26px;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}

body {
  background: white;
}

.mainprofile {
  display: flex;
  flex: row;
  min-height: 91vh;
  padding-right: 5%;
  padding-left: 5%;
  background: white;
}
.mainprofile .left {
  width: 25%;
  min-height: 100%;
  font-weight: bold;
}
.mainprofile .left .yourAccount {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid grey;
  font-size: 25px;
  color: rgb(64, 125, 175);
}
.mainprofile .left a {
  text-decoration: none;
  color: black;
}
.mainprofile .left .account,
.mainprofile .left .dogprofile,
.mainprofile .left .subscription,
.mainprofile .left .billing,
.mainprofile .left .portfolio,
.mainprofile .left .settings,
.mainprofile .left .help,
.mainprofile .left .logout {
  height: 40px;
  padding: 20px 0px 20px 20px;
  display: flex;
  align-items: center;
  margin: 10px;
  transition: 0.3s ease;
  border-radius: 5px;
}
.mainprofile .left .account span,
.mainprofile .left .dogprofile span,
.mainprofile .left .subscription span,
.mainprofile .left .billing span,
.mainprofile .left .portfolio span,
.mainprofile .left .settings span,
.mainprofile .left .help span,
.mainprofile .left .logout span {
  display: flex;
  align-items: center;
  margin-left: 5px;
  font-weight: bold;
  color: white;
}
.mainprofile .left .account .leftIcon,
.mainprofile .left .dogprofile .leftIcon,
.mainprofile .left .subscription .leftIcon,
.mainprofile .left .billing .leftIcon,
.mainprofile .left .portfolio .leftIcon,
.mainprofile .left .settings .leftIcon,
.mainprofile .left .help .leftIcon,
.mainprofile .left .logout .leftIcon {
  margin-right: 8px;
}
.mainprofile .left .account:hover, .mainprofile .left .account.active,
.mainprofile .left .dogprofile:hover,
.mainprofile .left .dogprofile.active,
.mainprofile .left .subscription:hover,
.mainprofile .left .subscription.active,
.mainprofile .left .billing:hover,
.mainprofile .left .billing.active,
.mainprofile .left .portfolio:hover,
.mainprofile .left .portfolio.active,
.mainprofile .left .settings:hover,
.mainprofile .left .settings.active,
.mainprofile .left .help:hover,
.mainprofile .left .help.active,
.mainprofile .left .logout:hover,
.mainprofile .left .logout.active {
  border-radius: 5px;
  background-color: rgb(64, 125, 175);
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}
.mainprofile .left .account:hover > span,
.mainprofile .left .dogprofile:hover > span,
.mainprofile .left .subscription:hover > span,
.mainprofile .left .billing:hover > span,
.mainprofile .left .portfolio:hover > span,
.mainprofile .left .settings:hover > span,
.mainprofile .left .help:hover > span,
.mainprofile .left .logout:hover > span {
  transition: 0.1s ease;
}
.mainprofile .left .line {
  border: 1px solid grey;
  height: 1px;
  width: 100%;
}
.mainprofile .right {
  width: 75%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.mainprofile .right .header {
  height: 65px;
  border-bottom: 2px solid grey;
}
.mainprofile .right .header .headerBod {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  color: rgb(64, 125, 175);
}
.mainprofile .right .mainbod {
  min-height: 90%;
  height: 100%;
}
.mainprofile .right .mainbod .account,
.mainprofile .right .mainbod .subscription {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.mainprofile .right .mainbod .account .accountInformation,
.mainprofile .right .mainbod .account .subscriptionInformation,
.mainprofile .right .mainbod .subscription .accountInformation,
.mainprofile .right .mainbod .subscription .subscriptionInformation {
  width: 40%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
}
.mainprofile .right .mainbod .account .accountInformation .informationHeader,
.mainprofile .right .mainbod .account .subscriptionInformation .informationHeader,
.mainprofile .right .mainbod .subscription .accountInformation .informationHeader,
.mainprofile .right .mainbod .subscription .subscriptionInformation .informationHeader {
  font-size: 26px;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}
.mainprofile .right .mainbod .account .accountInformation p,
.mainprofile .right .mainbod .account .subscriptionInformation p,
.mainprofile .right .mainbod .subscription .accountInformation p,
.mainprofile .right .mainbod .subscription .subscriptionInformation p {
  margin-top: 15px;
  margin-bottom: 15px;
}
.mainprofile .right .mainbod .account .accountInformation p #one,
.mainprofile .right .mainbod .account .subscriptionInformation p #one,
.mainprofile .right .mainbod .subscription .accountInformation p #one,
.mainprofile .right .mainbod .subscription .subscriptionInformation p #one {
  color: grey;
  font-weight: bold;
}
.mainprofile .right .mainbod .account .accountInformation p #two,
.mainprofile .right .mainbod .account .subscriptionInformation p #two,
.mainprofile .right .mainbod .subscription .accountInformation p #two,
.mainprofile .right .mainbod .subscription .subscriptionInformation p #two {
  color: rgb(64, 125, 175);
  font-weight: bold;
}
.mainprofile .right .mainbod .account .accountInformation button,
.mainprofile .right .mainbod .account .subscriptionInformation button,
.mainprofile .right .mainbod .subscription .accountInformation button,
.mainprofile .right .mainbod .subscription .subscriptionInformation button {
  border: none;
  background: rgb(64, 125, 175);
  border-radius: 5px;
  height: 35px;
  width: 50%;
  color: white;
  font-weight: bold;
}
.mainprofile .right .mainbod .account .accountInformation button:hover,
.mainprofile .right .mainbod .account .subscriptionInformation button:hover,
.mainprofile .right .mainbod .subscription .accountInformation button:hover,
.mainprofile .right .mainbod .subscription .subscriptionInformation button:hover {
  background: rgb(54, 125, 175);
  transition: 0.2s ease;
  cursor: pointer;
}
.mainprofile .right .mainbod .account .accountInformation .subscriptionOffer,
.mainprofile .right .mainbod .account .subscriptionInformation .subscriptionOffer,
.mainprofile .right .mainbod .subscription .accountInformation .subscriptionOffer,
.mainprofile .right .mainbod .subscription .subscriptionInformation .subscriptionOffer {
  border: 1px solid grey;
  border-radius: 5px;
  height: relative;
  padding: 10px;
}
.mainprofile .right .mainbod .account .accountInformation .subscriptionOffer h2,
.mainprofile .right .mainbod .account .subscriptionInformation .subscriptionOffer h2,
.mainprofile .right .mainbod .subscription .accountInformation .subscriptionOffer h2,
.mainprofile .right .mainbod .subscription .subscriptionInformation .subscriptionOffer h2 {
  font-size: 20px;
}
.mainprofile .right .mainbod .account .accountInformation .subscriptionOffer p,
.mainprofile .right .mainbod .account .subscriptionInformation .subscriptionOffer p,
.mainprofile .right .mainbod .subscription .accountInformation .subscriptionOffer p,
.mainprofile .right .mainbod .subscription .subscriptionInformation .subscriptionOffer p {
  font-size: 15px;
  display: flex;
  align-items: center;
}
.mainprofile .right .mainbod .account .accountInformation .subscriptionOffer span,
.mainprofile .right .mainbod .account .subscriptionInformation .subscriptionOffer span,
.mainprofile .right .mainbod .subscription .accountInformation .subscriptionOffer span,
.mainprofile .right .mainbod .subscription .subscriptionInformation .subscriptionOffer span {
  color: rgb(64, 125, 175);
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.mainprofile .right .mainbod .account .accountData,
.mainprofile .right .mainbod .account .subscriptionData,
.mainprofile .right .mainbod .subscription .accountData,
.mainprofile .right .mainbod .subscription .subscriptionData {
  width: 40%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
.mainprofile .right .mainbod .account .subscriptionInformation,
.mainprofile .right .mainbod .subscription .subscriptionInformation {
  height: 100%;
}
.mainprofile .right .mainbod .account .subscriptionInformation button,
.mainprofile .right .mainbod .subscription .subscriptionInformation button {
  margin-top: 20px;
  background-color: rgb(64, 125, 175);
  color: white;
  font-weight: bold;
  width: 100%;
}
.mainprofile .right .mainbod .account .subscriptionInformation .cancelSubscription,
.mainprofile .right .mainbod .subscription .subscriptionInformation .cancelSubscription {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.mainprofile .right .mainbod .account .subscriptionInformation .cancelSubscription:hover,
.mainprofile .right .mainbod .subscription .subscriptionInformation .cancelSubscription:hover {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}
.mainprofile .right .mainbod .account .subscriptionData,
.mainprofile .right .mainbod .subscription .subscriptionData {
  height: 75%;
  padding: 20px;
}
.mainprofile .right .mainbod .account .subscriptionData .offers,
.mainprofile .right .mainbod .subscription .subscriptionData .offers {
  height: 50%;
  margin-bottom: 20px;
}
.mainprofile .right .mainbod .account .subscriptionData .offers .informationHeader,
.mainprofile .right .mainbod .subscription .subscriptionData .offers .informationHeader {
  font-size: 26px;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}
.mainprofile .right .mainbod .account .subscriptionData .offers p,
.mainprofile .right .mainbod .subscription .subscriptionData .offers p {
  margin: 10px 0px 10px 0px;
}
.mainprofile .right .mainbod .subscription {
  display: flex;
  flex-direction: column;
}
.mainprofile .right .mainbod .subscription .info_and_data {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 600px;
  margin-bottom: 0px;
}
.mainprofile .right .mainbod .subscription .info_and_data .subscriptionInformation {
  min-height: 450px;
}
.mainprofile .right .mainbod .subscription .info_and_data .subscriptionInformation .date {
  font-weight: bold;
}
.mainprofile .right .mainbod .billing {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
}
.mainprofile .right .mainbod .billing .cardDetails {
  height: 40%;
  margin-left: 5%;
  margin-right: 5%;
}
.mainprofile .right .mainbod .billing .cardDetails h2, .mainprofile .right .mainbod .billing .cardDetails p, .mainprofile .right .mainbod .billing .cardDetails button {
  margin-top: 12px;
}
.mainprofile .right .mainbod .billing .cardDetails button {
  border: none;
  background: rgb(64, 125, 175);
  border-radius: 5px;
  height: 35px;
  width: 25%;
  color: white;
  font-weight: bold;
}
.mainprofile .right .mainbod .billing .cardDetails button:hover {
  background: rgb(0, 60, 255);
  transition: 0.2s ease;
  cursor: pointer;
}
.mainprofile .right .mainbod .billing .transactionHistory {
  height: 40%;
  margin-left: 5%;
  margin-right: 5%;
}
.mainprofile .right .mainbod .billing .transactionHistory .transactionHistoryTable {
  border: 1px solid black;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.mainprofile .right .mainbod .billing .transactionHistory .transactionHistoryTable tr {
  height: 30px;
}
.mainprofile .right .mainbod .portfolio {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-right: 0px;
  height: 100%;
  margin-left: 5%;
}
.mainprofile .right .mainbod .portfolio .mainTable {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.mainprofile .right .mainbod .portfolio .mainTable .portfolioTable {
  height: 100%;
  border: 1px solid red;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.mainprofile .right .mainbod .portfolio .mainTable .portfolioTable th {
  border: 1px solid black;
  height: 25px;
  padding: 0px 15px 0px 15px;
  font-size: 14px;
}
.mainprofile .right .mainbod .portfolio .mainTable .portfolioTable td {
  font-size: 14px;
  text-align: center;
}
.mainprofile .right .mainbod .portfolio .mainTable .profitColumn {
  height: 100%;
  border: 1px solid red;
  display: block;
  white-space: nowrap;
}
.mainprofile .right .mainbod .portfolio .mainTable .profitColumn th {
  border: 1px solid black;
  height: 25px;
  padding: 0px 15px 0px 15px;
  font-size: 14px;
}
.mainprofile .right .mainbod .portfolio .mainTable .profitColumn td {
  font-size: 14px;
  text-align: center;
}
.mainprofile .right .mainbod .dogprofiles {
  display: flex;
  flex-direction: row;
  padding: 20px;
  padding-right: 0px;
  height: 100%;
  margin-left: 5%;
}
.mainprofile .right .mainbod .dogprofiles .dogprofile {
  border: 3px solid rgb(54, 125, 175);
  border-radius: 5px;
  height: 450px;
  width: 350px;
  margin: 0px 50px 0px 0px;
}
.mainprofile .right .mainbod .dogprofiles .dogprofile .top {
  height: 40%;
  border-radius: 2px 2px 0px 0px;
  background-size: cover;
}
.mainprofile .right .mainbod .dogprofiles .dogprofile .top1 {
  background-image: url("../images/dogprofile.png");
}
.mainprofile .right .mainbod .dogprofiles .dogprofile .top2 {
  background-image: url("../images/dogprofile2.png");
}
.mainprofile .right .mainbod .dogprofiles .dogprofile .bottom {
  height: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.mainprofile .right .mainbod .dogprofiles .dogprofile .bottom .names {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mainprofile .right .mainbod .dogprofiles .dogprofile .bottom .names button {
  height: 25px;
  width: 50px;
  background-color: rgb(54, 125, 175);
  border: none;
  border-radius: 4px;
  color: white;
}
.mainprofile .right .mainbod .dogprofiles .dogprofile .bottom h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.mainprofile .right .mainbod .dogprofiles .dogprofile .bottom p {
  margin: 10px 0px 10px 0px;
}
.mainprofile .right .mainbod .dogprofiles .dogprofile .bottom a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: rgb(54, 125, 175);
  border: none;
  color: white;
  border-radius: 5px;
  height: 30px;
  margin-top: 10px;
}
.mainprofile .right .mainbod .dogprofiles .dogprofile .bottom a:hover {
  background-color: rgb(74, 135, 185);
  cursor: pointer;
}
.mainprofile .right .mainbod .dogprofiles .add_dog_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 350px;
}
.mainprofile .right .mainbod .dogprofiles .add_dog_button button {
  background-color: rgb(54, 125, 175);
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 4px;
  color: white;
}
.mainprofile .right .mainbod .dogprofiles .add_dog_button button:hover {
  cursor: pointer;
  background-color: rgb(74, 135, 185);
}
.mainprofile .right .mainbod .help {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.mainprofile .right .mainbod .help h2 {
  color: rgb(54, 125, 175);
  margin-bottom: 25px;
}
.mainprofile .right .mainbod .help .faq {
  width: 90%;
  height: 80px;
  border: 3px solid rgb(200, 200, 200);
  border-radius: 8px;
  margin-bottom: 35px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainprofile .right .mainbod .help .faq h4 {
  color: rgb(54, 125, 175);
  font-weight: bold;
  font-size: 18px;
}
.mainprofile .right .mainbod .help .faq p {
  margin-top: 5px;
  color: black;
}
.mainprofile .right .mainbod .help .viewmore {
  margin-bottom: 20px;
  background-color: rgb(54, 125, 175);
  color: white;
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 5px;
}
.mainprofile .right .mainbod .help .submit_enquiry {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.mainprofile .right .mainbod .help .submit_enquiry h3 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.mainprofile .right .mainbod .help .submit_enquiry p {
  margin-bottom: 5px;
}
.mainprofile .right .mainbod .help .submit_enquiry textarea {
  height: 140px;
  border-radius: 5px;
  padding: 10px;
}
.mainprofile .right .mainbod .help .submit_enquiry button {
  margin-top: 20px;
  background-color: rgb(54, 125, 175);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}/*# sourceMappingURL=profile.css.map */