* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.informationHeader {
    font-size: 26px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}

body {
    background: white;
}

.mainprofile {

    display: flex;
    flex: row;
    min-height: 91vh;
    padding-right: 5%;
    padding-left: 5%;
    background: white;

    .left {
        width: 25%;
        min-height: 100%;
        min-width: 300px;

        font-weight: bold;

        .yourAccount {
            height: 65px;

            display: flex;
            align-items: center;
            justify-content: center;

            border-bottom: 2px solid grey;
            font-size: 25px;
            color: rgb(64, 125, 175);
        }
        a {
            text-decoration: none;
            color: black;
        }

        .account,
        .dogprofile,
        .subscription,
        .billing,
        .portfolio,
        .settings, 
        .help,
        .logout {
            height: 40px;
            padding: 20px 0px 20px 20px;
            display: flex;
            align-items: center;
            margin: 10px;
            transition: 0.3s ease;
            border-radius: 5px;

            span {
                display: flex;
                align-items: center;
                margin-left: 5px;
                font-weight: bold;
                color: white;
            }

            .leftIcon {
                margin-right: 8px;
            }


            &:hover,
            &.active {
                border-radius: 5px;
                background-color: rgb(64, 125, 175);
                color: white;
                cursor: pointer;
                transition: 0.3s ease;
                
            }

            &:hover > span {
                transition: 0.1s ease;
            }


        }

        .line {
            border: 1px solid grey;
            height: 1px;
            width: 100%;
        }




    }

    .right {
        width: 75%;
        min-height: 100%;

        display: flex;
        flex-direction: column;

        .header {
            height: 65px;

            .headerBod {
                height: 65px;
                border-bottom: 2px solid grey;
    
                display: flex;
                align-items: center;
                justify-content: center;
    
                font-size: 25px;
                font-weight: bold;
                color: rgb(64, 125, 175);
            }

        }

        .mainbod {
            min-height: 90%;
            height: 100%;
    
            .account,
            .subscription {
                display: flex;
                flex-direction: row;
                height: 100%;
                     
                .accountInformation,
                .subscriptionInformation {
                    width: 40%;
                    height: 100%;

                    margin-left: 5%;
                    margin-right: 5%;


                    padding: 20px;


                    .informationHeader {
                        font-size: 26px;
                        display: flex;
                        align-items: center;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        border-bottom: 1px solid grey;
                    }

                    p {
                        margin-top: 15px;
                        margin-bottom: 15px;

                        #one {
                            color: grey;
                            font-weight: bold;
                        }

                        #two {
                            color: rgb(64, 125, 175);
                            font-weight: bold;
                        }

                    }

                    button {
                        border: none;
                        background: rgb(64, 125, 175);
                        border-radius: 5px;

                        height: 35px;
                        width: 50%;

                        color: white;
                        font-weight: bold;

                        &:hover {
                            background: rgb(54,125,175);
                            transition: 0.2s ease;
                            cursor: pointer;
                        }

                    }

                    .subscriptionOffer {
                        border: 1px solid grey;
                        border-radius: 5px;
                        height: relative;

                        padding: 10px;

                        h2 {
                            font-size: 20px;
                        }

                        p {
                            font-size: 15px;
                            display: flex;
                            align-items: center;
                        }

                        span {
                            color: rgb(64, 125, 175);
                            font-size: 20px;
                            display: flex;
                            align-items: center;
                            margin-right: 5px;
                        }



                    }




                }
                
                .accountData,
                .subscriptionData {
                    width: 40%;
                    height: 100%;

                    margin-left: 5%;
                    margin-right: 5%;

                    // border: 1px solid black;
                }

                
                .subscriptionInformation {
                    height: 100%;


                    button {
                        margin-top: 20px;
                        background-color: rgb(64, 125, 175);
                        color: white;
                        font-weight: bold;
                        width: 100%;
                    }

                    .cancelSubscription {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;

                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                            color: blue;
                        }

                    }

                }

                .subscriptionData {
                    height: 75%;
                    padding: 20px;

                    .offers {
                        height: 50%;
                        margin-bottom: 20px;


                        .informationHeader {
                            font-size: 26px;
                            display: flex;
                            align-items: center;
                            padding-top: 5px;
                            padding-bottom: 5px;
                            border-bottom: 1px solid grey;
                        }

                        p {
                            margin: 10px 0px 10px 0px;
                        }

                    }

                }
     

            }

            .subscription {
                display: flex;
                flex-direction: column;

                .info_and_data {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    height: 600px;
                    margin-bottom: 0px;

                    .subscriptionInformation {
                        min-height: 450px;

                        .date {
                            font-weight: bold;
                            
                        }


                    }


                }

            }

            .billing {
                display: flex;
                flex-direction: column;
                padding: 20px;
                height: 100%;


                .cardDetails {
                    height: 40%;
                    margin-left: 5%;
                    margin-right: 5%;

                    h2, p, button {
                        margin-top: 12px;
                    }
                    
                    button {
                        border: none;
                        background: rgb(64, 125, 175);
                        border-radius: 5px;

                        height: 35px;
                        width: 25%;

                        color: white;
                        font-weight: bold;

                        &:hover {
                            background: rgb(0,60,255);
                            transition: 0.2s ease;
                            cursor: pointer;
                        }

                    }

                }

                .transactionHistory {
                    height: 40%;
                    margin-left: 5%;
                    margin-right: 5%;

                    .transactionHistoryTable {
                        border: 1px solid black;
                        width: 100%;
                        text-align: center;
                        margin-top: 15px;

                        tr {
                            height: 30px;
                        }

                    }



                }

            }


            .portfolio {
                display: flex;
                flex-direction: column;
                padding: 20px;
                padding-right: 0px;
                height: 100%;
                margin-left: 5%;

                .mainTable {
                    display: flex;
                    flex-direction: row;
                    height: 100%;

                    .portfolioTable {
                        height: 100%;
                        border: 1px solid red;
                        display: block;
                        overflow-x: auto;
                        white-space: nowrap;

                        th {
                            border: 1px solid black;
                            height: 25px;
                            padding: 0px 15px 0px 15px;
                            font-size: 14px;
                        }

                        td {
                            font-size: 14px;
                            text-align: center;
                        }


                    }

                    .profitColumn {
                        height: 100%;
                        // width: 200px;
                        border: 1px solid red;
                        display: block;
                        white-space: nowrap;


                        th {
                            border: 1px solid black;
                            height: 25px;
                            padding: 0px 15px 0px 15px;
                            font-size: 14px;
                        }

                        td {
                            font-size: 14px;
                            text-align: center;
                        }
                      


                    }



                }


                // table {
                //     width: 100%;
                //     border: 1px solid black;
                //     tbody {

                //         overflow-x: scroll;

                //         th {
                //             font-size: 15px;
                //             width: 100px;
                //             border: 1px solid red;
                //         }
                //     }
                // }


            }

            .dogprofiles {
                display: flex;
                flex-direction: row;
                padding: 20px;
                padding-right: 0px;
                height: 100%;
                margin-left: 5%;

                .dogprofile {
                    border: 3px solid rgb(54,125,175);
                    border-radius: 5px;
                    height: 450px;
                    width: 350px;
                    min-width: 275px;
                    margin: 0px 50px 0px 0px;

                    .top {
                        height: 40%;
                        border-radius: 2px 2px 0px 0px;
                        background-size: cover;
                    }

                    .top1 {
                        background-image: url('../images/dogprofile.png');
                    }

                    .top2 {
                        background-image: url('../images/dogprofile2.png');
                    }

                    .bottom {
                        height: 60%;
                        padding: 20px;

                        display: flex;
                        flex-direction: column;

                        .names {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            button {
                                height: 25px;
                                width: 50px;
                                background-color: rgb(54,125,175);
                                border: none;
                                border-radius: 4px;
                                color: white;
                            }
                        }

                        h3 {
                            font-size: 20px;
                            margin-bottom: 20px;
                        }

                        p {
                            margin: 10px 0px 10px 0px;
                        }

                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            background-color: rgb(54,125,175);
                            border: none;
                            color: white;
                            border-radius: 5px;
                            height: 30px;
                            margin-top: 10px;

                            &:hover {
                                background-color: rgb(74, 135, 185);
                                cursor: pointer;
                            }
                        }


                    }


                }

                .add_dog_button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 450px;
                    width: 350px;

                    button {
                        background-color: rgb(54,125,175);
                        width: 200px;
                        height: 30px;
                        border: none;
                        border-radius: 4px;
                        color: white;

                        &:hover {
                            cursor: pointer;
                            background-color: rgb(74, 135, 185);
                        }
                    }

                }



            }

            .help {
                height: 100%;
                display: flex;
                flex-direction: column;
                // justify-content: center;
                align-items: center;
                padding: 20px;

                h2 {
                    color: rgb(54,125,175);
                    margin-bottom: 25px;
                }

                .faq {
                    width: 90%;
                    height: 80px;
                    border: 3px solid rgb(200,200,200);
                    border-radius: 8px;
                    margin-bottom: 35px;
                    padding: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h4 {
                        color: rgb(54,125,175);
                        font-weight: bold;
                        font-size: 18px;
                    }

                    p {
                        margin-top: 5px;
                        color: black;
                    }

                }

                .viewmore {
                    margin-bottom: 20px;
                    background-color: rgb(54,125,175);
                    color: white;
                    padding: 10px ;
                    width: 200px;
                    border: none;
                    border-radius: 5px;
                }

                .submit_enquiry {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 600px;
                    margin-top: 20px;

                    h3 {
                        font-weight: bold;
                        font-size: 18px;
                        margin-bottom: 10px;
                    }

                    p {
                        margin-bottom: 5px;
                    }

                    textarea {
                        height: 140px;
                        width: 80%;
                        border-radius: 5px;
                        padding: 10px;
                    }

                    button {
                        margin-top: 20px;
                        background-color: rgb(54,125,175);
                        color: white;
                        padding: 10px ;
                        border: none;
                        border-radius: 5px;

                    }


                }

            }

        }

    }
}