body {
    background-color: white;
}

h1 {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: rgb(54,115,165);
    /* margin: 30px 50px 0px 50px; */
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 2px solid grey;
}

.group_members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 78vh;
    min-height: 600px;
    max-height: 800px;
    margin-left: 50px;
    margin-right: 50px;

    padding: 20px 60px 20px 60px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1600px;
    height: 50%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}


.person {
    width: 30%;
    min-width: 300px;
    height: 100%;
    border: 1.5px solid rgb(54,115,165);
    border-radius: 16px;
}

.person .top {
    height: 50%;
    background-color: rgb(54,115,165);
    border-radius: 14px 14px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.person .top i {
    color: white;
    font-size: 50px;
}

.person .bottom {
    height: 50%;
    padding-left: 25px;
    padding-top: 5px;
}

.person h3 {
    margin: 20px 0px 20px 0px;
}
.person p {
    margin: 15px 0px 15px 0px;
}

.person:hover {
    cursor: pointer;
    transition: 0.3s ease;
}

.person:hover > div > i {
    transition: 0.3s ease;
    font-size: 60px;
}







