
body{
    background-color: white;
}

.container {
    width: 100%;
    height: 80vh;
    /* padding: 50px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.centrecontainer {

    width: 800px;
    height: 600px;

    border: 3px solid rgb(200,200,200);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image {
    margin: 50px 0px 50px 0px;
    width: 150px;
    height: 150px;
}

p {
    margin-top: 15px;
}

.returnhome {
    margin-top: 20px;
    background-color: rgb(54, 115, 165);
    width: 300px;
    height: 40px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: white;
}

.returnhome,
.placebooking {
    background-color: rgb(54,115,165);
}

.returnhome:hover,
.placebooking:hover {
    cursor: pointer;
    transition: 0.3s ease;
    background-color: rgb(84, 145, 195);
}

.returnhome:active,
.placebooking:active {
    transform: scale(0.90);
    transition: 0.3s ease;
}